# Python
backend/venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node modules
frontend/node_modules/

# Build files
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store

# Python
venv/

# Secrets
backend/token.json
backend/credentials.json

